@import "variables";

.button {
    cursor: pointer;
    font: inherit;
    border: 2px solid $pink;
    background: $grey-white;
    color: black;
    padding: 0.25rem 1rem;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.button:hover,
.button:active {
    color: $grey-white;
      background-color: $pink;
      border-color: $pink;
}

.button:focus {
    outline: none;
}
