.input {
    font: inherit;
    padding: 0.25rem;
    border: none;
    border-bottom: 3px solid #ccc;
    flex: 1;    
    background-color: $grey-white;
    width: 100%;

    &:focus {
      outline: none;
      border-color: $pink;
    }
  }
  
  .search{
      display: flex;
  }