@import "variables";
.input {
    font: inherit;
    padding: 0.25rem;
    border: none;
    border-bottom: 3px solid #ccc;
    flex: 1;    
    background-color: $grey-white;
    width: 100%;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-color: $navy-blue;
    }
  }
  
  .search{
      display: flex;
  }