.header{    
    background-color: #3FC1C9;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 39.875rem;
    margin: auto;
    height: 3rem;
}

.header__nav--link{
    text-decoration: none;
    color: #F5F5F5;
}

.header__nav--link:hover{
    
    cursor:pointer; 
}

.header__buttons{
    display: flex;
    justify-content: space-between;
    width: 39.875rem;
    margin: auto;
    margin-top: 1rem;
}