@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: inherit;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3FC1C9;
}

.container {
  padding: 0 1.5rem;
}
@media (min-width: 40em) {
  .container {
    width: 39.875rem;
    margin: auto;
  }
}

.header {
  background-color: #364F6B;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}
.header__nav--link {
  text-decoration: none;
  color: #F5F5F5;
}
.header__nav--link:hover {
  cursor: pointer;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
@media (min-width: 40em) {
  .header__buttons {
    flex-direction: row;
  }
}
.header__buttons a:not(:first-child) {
  margin-top: 0.6rem;
}

.nav__title {
  font-size: 1.5rem;
  line-height: 1;
}

.button {
  cursor: pointer;
  font: inherit;
  border: 2px solid #FC5185;
  background: #F5F5F5;
  color: black;
  padding: 0.25rem 1rem;
  border-radius: 20px;
}

.button:hover,
.button:active {
  color: #F5F5F5;
  background-color: #FC5185;
  border-color: #FC5185;
}

.button:focus {
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  -webkit-animation: slide-down 300ms ease-out forwards;
          animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.section {
  margin: 2rem auto;
  background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 12px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 40em) {
  .form {
    flex-direction: row;
  }
}
.form .input {
  margin-bottom: 1rem;
}
@media (min-width: 40em) {
  .form .input {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.input {
  font: inherit;
  padding: 0.25rem;
  border: none;
  border-bottom: 3px solid #ccc;
  flex: 1;
  background-color: #F5F5F5;
  width: 100%;
}
.input:focus {
  outline: none;
  border-color: #FC5185;
}

.search {
  display: flex;
}

.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #364F6B;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: #F5F5F5;
}

.auth h1 {
  text-align: center;
  color: #F5F5F5;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #F5F5F5;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #364F6B;
  border-radius: 4px;
  border: 1px solid #F5F5F5;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: #F5F5F5;
  background-color: #3FC1C9;
  border: 1px solid #3FC1C9;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #34a3a8;
  border-color: #34a3a8;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #3FC1C9;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #34a3a8;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pagination__btn {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #364F6B;
  border-color: #364F6B;
  margin: 0.2rem;
  background-color: white;
}
.pagination__btn:hover, .pagination__btn--active {
  color: white;
  background-color: #364F6B;
  border-color: #364F6B;
}

.list__header {
  font-size: 1.5rem;
}

.list-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 1.125rem;
}
.list-item:last-of-type {
  border-bottom: none;
}
@media (min-width: 40em) {
  .list-item {
    flex-direction: row;
  }
}
.list-item__title {
  text-align: center;
}
@media (min-width: 40em) {
  .list-item__title {
    text-align: left;
    padding-right: 1rem;
  }
}
.list-item__actions {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
.list-item__actions .button:not(:last-child) {
  margin-right: 0.7rem;
}
@media (min-width: 40em) {
  .list-item__actions {
    margin-top: 0;
  }
}

.footer {
  background-color: #364F6B;
  color: #F5F5F5;
  text-align: center;
  padding: 1rem 0;
}
.footer p {
  margin: 0;
  font-size: 0.875rem;
}
.footer__link {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem 1rem 0 1rem;
}
.footer__icon {
  height: 2.2rem;
  width: 2.2rem;
  fill: #F5F5F5;
}
.footer__icon:hover {
  fill: #3FC1C9;
}

.body__footer {
  margin-top: 1.5rem;
}